.containerMain {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.titleBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  height: calc(100vh - 200px);
}

.columnOrders {
  overflow-y: auto;
}

.columnInfo {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
